:root {
  --select-arrow: var(--default-font-color);
  --primary-color: #0088cc;
  --primary-color-lighten: #024b72;
  --primary-box-shadow: #0088cc42;
  --asterix-color: #d2322d;
  --survey-header-background-color: #f6f6f6;
  --survey-body-background-color: #fdfdfd;
  --survey-footer-background-color: #fff;
  --page-background-color: #f0edec;
  --default-font-color: #495057;
  --font-placeholder-color: #c7c7c7;
  --default-font-color-lighten: #808697;
  --input-background-color: #ffffff;
  --white: #fff;
  --black: #000000;
  --button-border-color: #ccc;
  --button-hover-color: rgb(196, 196, 196);
  --input-border-color: #ced4da;
  --radio-checkbox-border-color: #bbb;
  --section-ruler: 2px #efe9e9 solid;
  --page-width: 90vw;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

input,
button,
select,
textarea {
  background-color: var(--input-background-color);
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  color: var(--default-font-color);
  background-color: var(--page-background-color);
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 2.2rem;
  margin: 0;
  font-size: 1.3rem;
}

.pt-2 {
  padding-top: 2rem;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: var(--page-width);
  margin: 0 auto;
  max-width: 80rem;
}

.survey-center {
  margin-top: 1.5rem;

  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  border-top: 5px solid var(--primary-color);
}

.survey-header {
  background-color: var(--survey-header-background-color);
  padding: 1.25rem;
  border-bottom: var(--section-ruler);
}

.survey-body {
  background-color: var(--survey-body-background-color);
  padding: 1.25rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 0;
  text-transform: none;
  margin: 0;
}

.form-subtitle {
  color: var(--default-font-color-lighten);
  font-size: 1.2rem;
  line-height: 1.2em;
  margin: 0.7rem 0 0;
  padding: 0;
}

.required {
  display: inline-block;
  color: var(--asterix-color);
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  top: -0.2em;
}

.text-label {
  text-align: right;
  padding-top: 0.7rem !important;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  flex: 0 0 25%;
  width: 100%;
  max-width: 25%;
}

.text-input {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  flex: 0 0 75%;
  width: 100%;
  max-width: 75%;
}

.input-control {
  min-height: 3.7rem;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 3rem;
  padding: 0.375rem 1.2rem;
  display: block;
  width: 100%;
  border: 1px solid var(--input-border-color);
  border-radius: 0.25rem;
  color: var(--default-font-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.input-control {
  height: auto;
  font-family: 'Open Sans', arial;
  font-size: 1.4rem;
}
textarea {
  resize: vertical;
}

input {
  font-family: 'Open Sans', arial;
  font-size: 1.4rem;
}

textarea:focus,
input:focus {
  outline: none !important;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 10px var(--primary-box-shadow);
}

::-webkit-input-placeholder {
  color: var(--font-placeholder-color);
  font-size: 1.4rem;
}
::-moz-placeholder {
  color: var(--font-placeholder-color);
  font-size: 1.4rem;
}
:-ms-input-placeholder {
  color: var(--font-placeholder-color);
  font-size: 1.4rem;
}
::placeholder {
  color: var(--font-placeholder-color);
  font-size: 1.4rem;
}

/*CUSTOM SELECT */
select {
  appearance: none;
  outline: none;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: 0.25rem;
  padding: 0.375rem 1.2rem;
  min-height: 3.7rem;
  cursor: pointer;
  width: 100%;
  font-family: inherit;
  color: inherit;
  font-size: 1.4rem;
  grid-template-areas: 'select';
}

#standard-select option {
  font-size: 1.4rem;
}

select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;
}

select,
.select:after {
  grid-area: select;
}

.select::after {
  content: '';
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  margin-right: 1rem;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid var(--primary-color);
  border-radius: 0.25rem;
  box-shadow: 0 0 10px var(--primary-box-shadow);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* RADIO BUTTON*/
.radio-custom {
  position: relative;
  padding: 0 0 0 2.5rem;
  margin-bottom: 0.7rem;
  margin-top: 0;
}

.radio-custom input[type='radio'] {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0.3rem;
  margin: -0.6rem 0 0 0;
  z-index: 2;
  cursor: pointer;
}

.radio-custom label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.9rem;
  width: 1.8rem;
  height: 1.8rem;
  display: inline-block;
  border-radius: 5rem;
  border: 1px solid var(--radio-checkbox-border-color);
  background-color: var(--input-background-color);
}

.radio-custom input[type='radio']:checked + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.4rem;
  margin-top: -0.5rem;
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-color);
  border-radius: 5rem;
  box-shadow: 0px 0px 1px var(--primary-box-shadow);
}

input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

/* CHECKBOX */
.checkbox-custom {
  position: relative;
  padding: 0 0 0 2.5rem;
  margin-bottom: 0.7rem;
  margin-top: 0;
}

.checkbox-custom label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.9rem;
  width: 1.9rem;
  height: 1.8rem;
  display: inline-block;
  border-radius: 0.2rem;
  border: 1px solid var(--radio-checkbox-border-color);
  background: var(--input-background-color);
}

.checkbox-custom input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0.3rem;
  margin: -0.6rem 0 0 0;
  z-index: 2;
  cursor: pointer;
}

.checkbox-custom input[type='checkbox']:checked + label:after {
  position: absolute;
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\F00C';
  top: 50%;
  left: 0.4rem;
  margin-top: -0.5rem;
  font-size: 1.1rem;
  line-height: 1;
  width: 1.6rem;
  height: 1.6rem;
  color: var(--black);
}

/* FOOTER */
.form-footer {
  padding: 1.2rem 2rem;
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  margin-top: -0.5rem;
  background: var(--survey-footer-background-color);
  border-top: var(--section-ruler);
}

/* BUTTONS */
.btn {
  display: inline-block;
  font-size: 1.44rem;
  border-radius: 0.25rem;
  line-height: 1.5;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.752rem 1.2rem;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  color: var(--default-font-color);
  background-color: transparent;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--primary-color-lighten);
  border-color: var(--primary-color-lighten);
}

.btn-default {
  color: var(--default-font-color);
  background-color: var(--white);
  border-color: var(--button-border-color);
  box-shadow: none !important;
}

.btn-default:hover {
  background-color: var(--button-hover-color);
}

/* MEDIA QUERIES */
@media screen and (max-width: 574px) {
  .row {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
  }

  .text-label {
    text-align: left;
    max-width: 100%;
  }

  .text-input {
    max-width: 100%;
  }

  .wider-btn {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin: 0.5rem;
  }
}
