:root {
  --color-grey-dark-1: #333;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  /* @media only screen and (max-width: $bp-large) {
     font-size: 50%;
   } */
}

body {
  color: #495057;
  background-color: #ecedf0;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 2.2rem;
  margin: 0;
  font-size: 1.3rem;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 80rem;
}

.survey-center {
  display: flex;
  flex-direction: column;

  margin-top: 1.5rem;
  /* border-color: #e9ecef; */
  /* border-style: solid; */
  /* border-width: 0.8rem 1.6rem 1.6rem 0.8rem; */
  /* padding: 1.25rem; */

  background: #fff;
  border-top: 5px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  /* padding: 33px 33px 15px; */
  border-top: 5px solid #0088cc;
}

.survey-header {
  background-color: #f6f6f6;
  padding: 1.25rem;
  border-bottom: 2px #e9ecef solid;
}

.survey-body {
  background-color: #fdfdfd;
  padding: 1.25rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 0;
  text-transform: none;
  margin: 0;
}

.form-subtitle {
  color: #808697;
  font-size: 1.2rem;
  line-height: 1.2em;
  margin: 0.7rem 0 0;
  padding: 0;
}

.required {
  display: inline-block;
  color: #d2322d;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  top: -0.2em;
}

.text-label {
  text-align: right !important;
  padding-top: 0.7rem !important;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  flex: 0 0 25%;
  width: 100%;
  max-width: 25%;
}

.text-input {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  flex: 0 0 75%;
  width: 100%;
  max-width: 75%;
}

.input-control {
  min-height: 3.7rem;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 3rem;
  padding: 0.375rem 1.2rem;
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.input-control {
  height: auto;
  font-family: 'Open Sans', arial;
  font-size: 1.4rem;
}
textarea {
  resize: vertical;
}

input {
  font-family: 'Open Sans', arial;
  font-size: 1.4rem;
}

/* input[type='textarea'] {
  font-family: 'Open Sans', arial;
  font-size: 1.4rem;
} */

::-webkit-input-placeholder {
  color: #c7c7c7;
  font-size: 1.4rem;
}
::-moz-placeholder {
  color: #c7c7c7;
  font-size: 1.4rem;
}
:-ms-input-placeholder {
  color: #c7c7c7;
  font-size: 1.4rem;
}
::placeholder {
  color: #c7c7c7;
  font-size: 1.4rem;
}

/*CUSTOM SELECT */

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-size: 1.4rem;
}

/* style the items (options), including the selected item: */

.select-selected,
.select-items div {
  display: flex;

  padding: 0.375rem 1.2rem;
  min-height: 3.7rem;
  align-items: center;

  cursor: pointer;
}

.select-selected {
  background-color: #fdfdfd;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fdfdfd;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;

  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #495057 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #495057 transparent;
  top: 7px;
}
